<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<appSettings>
    
    <add key="RCAzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=reptilecarestorage;AccountKey=SxPOkmqcvW2CA5nqjJ+SPPWoeBWn5TaymH1z5za9RPsCOodt8vdRH5c0Llacdod82VFOU08khNS2Z1iRzAwllg==" />
  </appSettings>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>