@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tallaght<br />
    Dublin 24<br />
    <abbr title="Phone">P:</abbr>
    0852350466
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@reptilemanager.com">Support@reptilemanager.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@reptilemanager.com">Marketing@reptilemanager.com</a>
</address>