@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reptile Manager</h1>
    <p class="lead">The website built for the care and maintenance of your collection of reptiles, big or small.</p>
    <img src="~/RM-Home.jpg" alt="Lizard Face" height="250" width="250"> 
    <img src="~/RM-Home-LG.jpg" alt="Leopard Gecko Face" height="250" width="250"> 
    <img src="~/RM-Home-Snake.jpg" alt="Snake Face" height="250" width="250"> 
    <img src="~/RM-Home-GreenTreePython.jpg" alt="Green tree python Face" height="250" width="250"> 

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Download the Reptile Manager App- from the APP Store, Google Play or Windows Phone Store. Create your account this will be used on both the app and the website.
            Create records for each reptile and download a Uniqe QR code for the app. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Health Check</h2>
        <p>Each reptile's health status is checked and if anything unusual is detected, there will be a colour change on the My Reptiles page.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>