<connectionStrings>
  <add name="DefaultConnection" connectionString="Server=tcp:cf2wr620kx.database.windows.net,1433;Database=ReptileManager_db;User ID=dbstephen@cf2wr620kx;Password=03Dec93@;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>