<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for ReptileManager" Description="Code analysis rules for ReptileManager.csproj." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="RefactoringEssentials" RuleNamespace="RefactoringEssentials">
    <Rule Id="RECS0145" Action="None" />
  </Rules>
</RuleSet>