.Green{
    color:white;
    background-color:#009933;
    padding: 5px;
}
.Orange{
     color:white;
    background-color:#FF6600;
    padding: 5px;
}
.Red{
     color:white;
    background-color:#FF0000;
    padding: 5px;
}